{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h2>Edit SWIFT Transfer</h2>
    <div class="box">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="box" id="message">
                  <div class="notification is-{{ category }}">
                     {{ message }}
                  </div>
              </div>
          {% endfor %}
      {% endif %}
   {% endwith %}
<form method="POST" action="{{ url_for('transfer.customer_edit_swift_transfer', id=swift_request.id) }}">
    {{ form.hidden_tag() }}
    {{ form.customer_email.label(class="form-label") }}
    <div class="field">
      <div class="control">
          {{ form.customer_email(class="input is-large",style={'width': '50%'}, type="email") }}
      </div>
      </div>

    
    {{ form.amount.label(class="form-label") }}
    <div class="field">
      <div class="control">
          {{ form.amount(class="input is-large") }}
      </div>
      </div>
    
    {{ form.status.label(class="form-label") }}
    <div class="field">
      <div class="control">
          {{ form.status(class="input is-large") }}
      </div>
      </div>

    {{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
  </form>
    </div>
</div>
{% endblock %}
