{% extends "base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}
 <div class="column is-4 is-offset-4">
  <h2>Update User</h2>
  <div class="box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="box" id="message">
                <div class="notification is-{{ category }}">
                   {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
 {% endwith %}
<form method="POST" action="{{ url_for('auth.update_user', id=user.id) }}">
  {{ form.hidden_tag() }}
  {{ form.username.label(class="form-label") }}
  <div class="field">
    <div class="control">
        {{ form.username(class="input is-large",style={'width': '50%'}, type="text") }}
    </div>
    </div>
    {{ form.email.label(class="form-label") }}
    <div class="field">
      <div class="control">
          {{ form.email(class="input is-large",style={'width': '50%'}, type="email") }}
      </div>
      </div>

  
  {{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
</form>
  </div>
</div>
{% endblock %}
